@import 'vars.sass'
@import 'header.sass'
@import 'footer.sass'
@import 'overall.sass'

.section--map
  //min-height: 100vh
  position: relative

.map
  width: 100%
  height: 100vh
  min-height: 31em

.map__zoom
  position: absolute
  top: 50%
  left: 2em
  background: #fff
  border-radius: 50%
  width: 2em
  height: 2em
  z-index: 4
  transform: translate(0,-50%)
  cursor: pointer

.map__zoom--in
  margin-top: -1.5em

.map__zoom--out
  margin-top: 1.5em

.map__zoom:after, .map__zoom:before
  display: block
  content: ''
  position: absolute
  left: 50%
  top: 50%
  transform: translate(-50%,-50%)
  background: #232222

.map__zoom--in:after
  width: 50%
  height: 2px

.map__zoom--in:before
  height: 50%
  width: 2px

.map__zoom--out:after
  width: 30%
  height: 2px

.map__wrap
  height: calc(100% - 12vh)
  overflow: auto
  position: relative


.map__menu-wrap
  position: absolute
  z-index: 4
  right: 2em
  top: 2em
  bottom: 2em
  width: 24vw
  background: #fff
  padding: 2em 1.5em 1.5em
  min-width: 380px


.map__menu--active
  display: none


.menu__item--map
  line-height: 3
  display: block
  position: relative
  padding-right: 1.5em

.menu__item--map + .menu__item--map
  border-top: 1px solid rgba(35, 34, 34, 0.05)

.image--pin
  position: relative
  width: 1.25em
  height: 1.25em
  top: .2em
  margin-right: .3em

.menu__link--map:after
  content: ''
  display: block
  width: 0.625em
  height: 0.875em
  background: url(../img/next.svg) no-repeat 50% 50%
  background-size: 100%
  right: 0
  top: 50%
  transform: translate(0,-50%)
  position: absolute

.menu__link--map
  display: inline-block
  width: 100%
  position: relative

.map__title
  text-align: center
  margin-bottom: .5em

.map__title--active
  position: relative
  cursor: pointer

.map__title--active:before
  content: ''
  left: 0
  top: 50%
  transform: translate(0,-50%)rotate(180deg)
  display: block
  width: 0.416em
  height: 0.583em
  background: url(../img/next.svg) no-repeat 50% 50%
  background-size: 100%
  position: absolute

.map__tabs
  position: absolute
  height: 100%
  top: 0
  left: 0
  background: #fff
  z-index: 3
  width: 100%
  display: none

.map__tabs--active
  display: block

.menu__image
  width: 6.75em
  height: 6.75em
  position: relative
  overflow: hidden
  margin: 0
  margin-right: 1.5em
  float: left

.menu__image img
  min-height: 100%
  min-width: 100%
  top: 50%
  left: 50%
  transform: translate(-50%,-50%)
  position: absolute

.menu__link--inner
  display: block
  position: absolute
  left: 0
  bottom: 0
  top: 0
  right: 0
  z-index: 8

.menu__link--inner:after
  content: ''
  display: block
  clear: both

.menu__text
  text-transform: none
  font-size: 0.875em
  margin-top: .5em
  margin-bottom: .5em
  font-family: $gotham
  line-height: 1.5
  font-weight: normal


.menu__title
  font-size: 1.125em
  margin-bottom: .5em
  font-weight: 500
  line-height: 1
  text-transform: none
  font-family: $unitSlab

.menu-inner__link
  font-size: .85em
  border-bottom: 2px solid #232222
  position: relative
  z-index: 10
  transition: all .15s ease

.menu__item--inner
  position: relative
  padding-bottom: 2em
  width: 100%

.menu__item--inner
  padding: 2em 0
  border-bottom: 1px solid #e6e6e6
  transition: all .15s ease

.menu__item--inner:hover
  border-color: #232222

.menu-inner__link:hover
  border-bottom: 2px solid rgba(0,0,0,0)

.menu__link--inner-active
  background: #e3ffdb
  border-color: #232222

.green
  color: #007f48

.yellow
  color: #f3b318

.menu__info
  padding-right: 0.75em

.tabs__tab
  position: absolute
  left: 0
  top: 0
  width: 100%
  background: #fff
  display: none

.tabs__tab--active
  display: block

.mCSB_scrollTools .mCSB_draggerContainer
  right: -3em

.map__control
  display: none
  position: absolute
  left: 0
  bottom: 0
  width: 100%
  height: 4em
  background: #fff
  z-index: 8

.control__item
  width: 50%
  float: left
  height: 4em
  line-height: 4em
  text-align: center

.control__link
  font-size: .85em
  font-family: $gotham
  text-transform: uppercase
  font-weight: 500
  width: 100%
  height: 100%
  display: block

.control__item:nth-of-type(1)
  border-right: 1px solid rgba(50, 34, 34, 0.1)

.popup__head
  font-family: $unitSlab
  font-size: 1.125em
  line-height: 1.5

.popup__inner
  font-size: 0.875em
  line-height: 1.5
  font-family: $gotham

.gm-style .gm-style-iw
  font-size: 16px
  top: 0 !important
  left: 0 !important
  width: 220px !important
  padding: .5em 1em

.gm-style-pbc + div + div > div > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(2)
  background: none!important
  box-shadow: rgba(0, 0, 0, 0.11) 0px 6px 10px 0px !important

.gm-style-pbc + div + div > div > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(4)
  border-radius: 5px!important

.gm-style-pbc + div + div > div > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(3) > div:nth-of-type(1) > div
  height: 10px !important
  transform: skewX(45deg)!important
  box-shadow: rgba(0, 0, 0, 0.11) 0px 6px 10px 0px !important

.gm-style-pbc + div + div > div > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(3) > div:nth-of-type(2) > div
  height: 10px !important
  transform: skewX(-45deg)!important
  box-shadow: rgba(0, 0, 0, 0.11) 0px 6px 10px 0px !important

.gm-style-pbc + div + div > div > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(1)
  border-top-width: 10px !important
  border-top-color: rgba(0, 0, 0, 0.03) !important

@media screen and (max-width: 840px)
  .map__control
    display: block
  .map__menu-wrap
    min-width: 0
    opacity: 0
    pointer-events: none
    left: 0
    top: 0
    right: 0
    bottom: 0
    width: auto
    position: relative
  .map__menu-wrap--active
    opacity: 1
    pointer-events: auto
  .menu__item--inner
    width: 100%
  .map
    min-height: 0
    position: absolute!important
    height: 100%!important
    left: 0
    top: 0
    width: 100%
  .map__zoom--out.map__menu-wrap--active
    margin-top: -.5em
  .gm-style .gm-style-iw
    font-size: 14px !important
  .section--map--active-menu .map
    pointer-events: none
  .section--map
    padding: 1em 1em 6em
  .map__menu--active
    display: block
    opacity: 0
    pointer-events: none

@media screen and (min-width: 1600px)
  .gm-style .gm-style-iw
    font-size: 20px !important
    width: 270px!important